{
  "openapi": "3.0.3",
  "info": {
    "title": "Method API",
    "version": "2025-07-04",
    "description": "Method Financial API - Node SDK Generated OpenAPI Specification",
    "contact": {
      "name": "Method Financial",
      "url": "https://methodfi.com",
      "email": "support@methodfi.com"
    }
  },
  "servers": [
    {
      "url": "https://production.methodfi.com",
      "description": "Production"
    },
    {
      "url": "https://sandbox.methodfi.com",
      "description": "Sandbox"
    },
    {
      "url": "https://dev.methodfi.com",
      "description": "Development"
    }
  ],
  "tags": [
    {
      "name": "Entities",
      "description": "Entity management endpoints"
    },
    {
      "name": "Entities - Connect",
      "description": "Entity connection endpoints"
    },
    {
      "name": "Entities - Credit Scores",
      "description": "Entity credit score endpoints"
    },
    {
      "name": "Entities - Identities",
      "description": "Entity identity endpoints"
    },
    {
      "name": "Entities - Attributes",
      "description": "Entity attribute endpoints"
    },
    {
      "name": "Entities - Vehicles",
      "description": "Entity vehicle endpoints"
    },
    {
      "name": "Entities - Products",
      "description": "Entity product endpoints"
    },
    {
      "name": "Entities - Subscriptions",
      "description": "Entity subscription endpoints"
    },
    {
      "name": "Entities - Verification Sessions",
      "description": "Entity verification session endpoints"
    },
    {
      "name": "Accounts",
      "description": "Account management endpoints"
    },
    {
      "name": "Accounts - Balances",
      "description": "Account balance endpoints"
    },
    {
      "name": "Accounts - CardBrands",
      "description": "Account card brand endpoints"
    },
    {
      "name": "Accounts - Payoffs",
      "description": "Account payoff endpoints"
    },
    {
      "name": "Accounts - Sensitives",
      "description": "Account sensitive data endpoints"
    },
    {
      "name": "Accounts - Transactions",
      "description": "Account transaction endpoints"
    },
    {
      "name": "Accounts - Updates",
      "description": "Account update endpoints"
    },
    {
      "name": "Accounts - Attributess",
      "description": "Account attribute endpoints"
    },
    {
      "name": "Accounts - PaymentInstruments",
      "description": "Account payment instrument endpoints"
    },
    {
      "name": "Accounts - Subscriptions",
      "description": "Account subscription endpoints"
    },
    {
      "name": "Accounts - Products",
      "description": "Account product endpoints"
    },
    {
      "name": "Accounts - Verification Sessions",
      "description": "Account verification session endpoints"
    },
    {
      "name": "Payments",
      "description": "Payment management endpoints"
    },
    {
      "name": "Payments - Reversals",
      "description": "Payment reversal endpoints"
    },
    {
      "name": "Webhooks",
      "description": "Webhook management endpoints"
    },
    {
      "name": "Reports",
      "description": "Report management endpoints"
    },
    {
      "name": "Merchants",
      "description": "Merchant lookup endpoints"
    },
    {
      "name": "Events",
      "description": "Event retrieval endpoints"
    },
    {
      "name": "Elements",
      "description": "Element token endpoints"
    },
    {
      "name": "Opal",
      "description": "Opal token endpoints"
    },
    {
      "name": "Simulate",
      "description": "Simulation endpoints for testing"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/entities": {
      "get": {
        "operationId": "listEntities",
        "summary": "List all entities",
        "description": "List all entities. See https://docs.methodfi.com for more details.",
        "tags": [
          "Entities"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "idem-request-id": {
                "$ref": "#/components/headers/IdemRequestId"
              },
              "idem-status": {
                "$ref": "#/components/headers/IdemStatus"
              },
              "pagination-page": {
                "$ref": "#/components/headers/PaginationPage"
              },
              "pagination-page-count": {
                "$ref": "#/components/headers/PaginationPageCount"
              },
              "pagination-page-limit": {
                "$ref": "#/components/headers/PaginationPageLimit"
              },
              "pagination-total-count": {
                "$ref": "#/components/headers/PaginationTotalCount"
              },
              "pagination-page-cursor-next": {
                "$ref": "#/components/headers/PaginationPageCursorNext"
              },
              "pagination-page-cursor-prev": {
                "$ref": "#/components/headers/PaginationPageCursorPrev"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Entity"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "from_date",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "to_date",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "post": {
        "operationId": "createEntity",
        "summary": "Create a new entity",
        "description": "Create a new entity. See https://docs.methodfi.com for more details.",
        "tags": [
          "Entities"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "idem-request-id": {
                "$ref": "#/components/headers/IdemRequestId"
              },
              "idem-status": {
                "$ref": "#/components/headers/IdemStatus"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Entity"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Optional idempotency key to prevent duplicate requests. See https://docs.methodfi.com for more details."
          },
          {
            "name": "Prefer",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "respond-async",
                "respond-sync"
              ]
            },
            "description": "Control response behavior. Use \"respond-async\" for long-running operations to get immediate response with status=pending."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EntityCreateRequest"
              }
            }
          }
        }
      }
    },
    "/entities/{ent_id}": {
      "get": {
        "operationId": "retrieveEntity",
        "summary": "Retrieve an entity",
        "description": "Retrieve an entity. See https://docs.methodfi.com for more details.",
        "tags": [
          "Entities"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "idem-request-id": {
                "$ref": "#/components/headers/IdemRequestId"
              },
              "idem-status": {
                "$ref": "#/components/headers/IdemStatus"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Entity"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "ent_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "connect",
                  "credit_score",
                  "attribute",
                  "vehicle",
                  "identity_latest_verification_session",
                  "phone_latest_verification_session"
                ]
              }
            },
            "description": "Fields to expand in the response. Can specify multiple values.",
            "style": "form",
            "explode": true
          }
        ]
      },
      "put": {
        "operationId": "updateEntity",
        "summary": "Update an entity",
        "description": "Update an entity. See https://docs.methodfi.com for more details.",
        "tags": [
          "Entities"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "idem-request-id": {
                "$ref": "#/components/headers/IdemRequestId"
              },
              "idem-status": {
                "$ref": "#/components/headers/IdemStatus"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Entity"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "ent_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Optional idempotency key to prevent duplicate requests. See https://docs.methodfi.com for more details."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EntityUpdateRequest"
              }
            }
          }
        }
      }
    },
    "/entities/{ent_id}/consent": {
      "post": {
        "operationId": "withdrawEntityConsent",
        "summary": "Withdraw entity consent",
        "description": "Withdraw entity consent. See https://docs.methodfi.com for more details.",
        "tags": [
          "Entities"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "idem-request-id": {
                "$ref": "#/components/headers/IdemRequestId"
              },
              "idem-status": {
                "$ref": "#/components/headers/IdemStatus"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Entity"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "ent_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Optional idempotency key to prevent duplicate requests. See https://docs.methodfi.com for more details."
          },
          {
            "name": "Prefer",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "respond-async",
                "respond-sync"
              ]
            },
            "description": "Control response behavior. Use \"respond-async\" for long-running operations to get immediate response with status=pending."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EntityWithdrawConsentRequest"
              }
            }
          }
        }
      }
    },
    "/entities/{ent_id}/connect": {
      "get": {
        "operationId": "listEntityConnect",
        "summary": "List entity connect records",
        "description": "List entity connect records. See https://docs.methodfi.com for more details.",
        "tags": [
          "Entities - Connect"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "idem-request-id": {
                "$ref": "#/components/headers/IdemRequestId"
              },
              "idem-status": {
                "$ref": "#/components/headers/IdemStatus"
              },
              "pagination-page": {
                "$ref": "#/components/headers/PaginationPage"
              },
              "pagination-page-count": {
                "$ref": "#/components/headers/PaginationPageCount"
              },
              "pagination-page-limit": {
                "$ref": "#/components/headers/PaginationPageLimit"
              },
              "pagination-total-count": {
                "$ref": "#/components/headers/PaginationTotalCount"
              },
              "pagination-page-cursor-next": {
                "$ref": "#/components/headers/PaginationPageCursorNext"
              },
              "pagination-page-cursor-prev": {
                "$ref": "#/components/headers/PaginationPageCursorPrev"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EntityConnect"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "ent_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "post": {
        "operationId": "createEntityConnect",
        "summary": "Create entity connect",
        "description": "Create entity connect. See https://docs.methodfi.com for more details.",
        "tags": [
          "Entities - Connect"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "idem-request-id": {
                "$ref": "#/components/headers/IdemRequestId"
              },
              "idem-status": {
                "$ref": "#/components/headers/IdemStatus"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntityConnect"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "ent_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Optional idempotency key to prevent duplicate requests. See https://docs.methodfi.com for more details."
          },
          {
            "name": "Prefer",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "respond-async",
                "respond-sync"
              ]
            },
            "description": "Control response behavior. Use \"respond-async\" for long-running operations to get immediate response with status=pending."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EntityConnectCreateRequest"
              }
            }
          }
        }
      }
    },
    "/entities/{ent_id}/connect/{cxn_id}": {
      "get": {
        "operationId": "retrieveEntityConnect",
        "summary": "Retrieve entity connect",
        "description": "Retrieve entity connect. See https://docs.methodfi.com for more details.",
        "tags": [
          "Entities - Connect"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "idem-request-id": {
                "$ref": "#/components/headers/IdemRequestId"
              },
              "idem-status": {
                "$ref": "#/components/headers/IdemStatus"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntityConnect"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "ent_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cxn_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/entities/{ent_id}/credit_scores": {
      "get": {
        "operationId": "listEntityCreditScores",
        "summary": "List entity credit scores",
        "description": "List entity credit scores. See https://docs.methodfi.com for more details.",
        "tags": [
          "Entities - Credit Scores"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "idem-request-id": {
                "$ref": "#/components/headers/IdemRequestId"
              },
              "idem-status": {
                "$ref": "#/components/headers/IdemStatus"
              },
              "pagination-page": {
                "$ref": "#/components/headers/PaginationPage"
              },
              "pagination-page-count": {
                "$ref": "#/components/headers/PaginationPageCount"
              },
              "pagination-page-limit": {
                "$ref": "#/components/headers/PaginationPageLimit"
              },
              "pagination-total-count": {
                "$ref": "#/components/headers/PaginationTotalCount"
              },
              "pagination-page-cursor-next": {
                "$ref": "#/components/headers/PaginationPageCursorNext"
              },
              "pagination-page-cursor-prev": {
                "$ref": "#/components/headers/PaginationPageCursorPrev"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EntityCreditScores"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "ent_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "post": {
        "operationId": "createEntityCreditScores",
        "summary": "Create entity credit scores request",
        "description": "Create entity credit scores request. See https://docs.methodfi.com for more details.",
        "tags": [
          "Entities - Credit Scores"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "idem-request-id": {
                "$ref": "#/components/headers/IdemRequestId"
              },
              "idem-status": {
                "$ref": "#/components/headers/IdemStatus"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntityCreditScores"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "ent_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Optional idempotency key to prevent duplicate requests. See https://docs.methodfi.com for more details."
          },
          {
            "name": "Prefer",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "respond-async",
                "respond-sync"
              ]
            },
            "description": "Control response behavior. Use \"respond-async\" for long-running operations to get immediate response with status=pending."
          }
        ]
      }
    },
    "/entities/{ent_id}/credit_scores/{crs_id}": {
      "get": {
        "operationId": "retrieveEntityCreditScores",
        "summary": "Retrieve entity credit scores",
        "description": "Retrieve entity credit scores. See https://docs.methodfi.com for more details.",
        "tags": [
          "Entities - Credit Scores"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "idem-request-id": {
                "$ref": "#/components/headers/IdemRequestId"
              },
              "idem-status": {
                "$ref": "#/components/headers/IdemStatus"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntityCreditScores"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "ent_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "crs_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/entities/{ent_id}/identities": {
      "get": {
        "operationId": "listEntityIdentities",
        "summary": "List entity identities",
        "description": "List entity identities. See https://docs.methodfi.com for more details.",
        "tags": [
          "Entities - Identities"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "idem-request-id": {
                "$ref": "#/components/headers/IdemRequestId"
              },
              "idem-status": {
                "$ref": "#/components/headers/IdemStatus"
              },
              "pagination-page": {
                "$ref": "#/components/headers/PaginationPage"
              },
              "pagination-page-count": {
                "$ref": "#/components/headers/PaginationPageCount"
              },
              "pagination-page-limit": {
                "$ref": "#/components/headers/PaginationPageLimit"
              },
              "pagination-total-count": {
                "$ref": "#/components/headers/PaginationTotalCount"
              },
              "pagination-page-cursor-next": {
                "$ref": "#/components/headers/PaginationPageCursorNext"
              },
              "pagination-page-cursor-prev": {
                "$ref": "#/components/headers/PaginationPageCursorPrev"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EntityIdentity"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "ent_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "post": {
        "operationId": "createEntityIdentity",
        "summary": "Create entity identity request",
        "description": "Create entity identity request. See https://docs.methodfi.com for more details.",
        "tags": [
          "Entities - Identities"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "idem-request-id": {
                "$ref": "#/components/headers/IdemRequestId"
              },
              "idem-status": {
                "$ref": "#/components/headers/IdemStatus"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntityIdentity"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "ent_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Optional idempotency key to prevent duplicate requests. See https://docs.methodfi.com for more details."
          },
          {
            "name": "Prefer",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "respond-async",
                "respond-sync"
              ]
            },
            "description": "Control response behavior. Use \"respond-async\" for long-running operations to get immediate response with status=pending."
          }
        ]
      }
    },
    "/entities/{ent_id}/identities/{idn_id}": {
      "get": {
        "operationId": "retrieveEntityIdentity",
        "summary": "Retrieve entity identity",
        "description": "Retrieve entity identity. See https://docs.methodfi.com for more details.",
        "tags": [
          "Entities - Identities"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "idem-request-id": {
                "$ref": "#/components/headers/IdemRequestId"
              },
              "idem-status": {
                "$ref": "#/components/headers/IdemStatus"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntityIdentity"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "ent_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "idn_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/entities/{ent_id}/attributes": {
      "get": {
        "operationId": "listEntityAttributes",
        "summary": "List entity attributes",
        "description": "List entity attributes. See https://docs.methodfi.com for more details.",
        "tags": [
          "Entities - Attributes"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "idem-request-id": {
                "$ref": "#/components/headers/IdemRequestId"
              },
              "idem-status": {
                "$ref": "#/components/headers/IdemStatus"
              },
              "pagination-page": {
                "$ref": "#/components/headers/PaginationPage"
              },
              "pagination-page-count": {
                "$ref": "#/components/headers/PaginationPageCount"
              },
              "pagination-page-limit": {
                "$ref": "#/components/headers/PaginationPageLimit"
              },
              "pagination-total-count": {
                "$ref": "#/components/headers/PaginationTotalCount"
              },
              "pagination-page-cursor-next": {
                "$ref": "#/components/headers/PaginationPageCursorNext"
              },
              "pagination-page-cursor-prev": {
                "$ref": "#/components/headers/PaginationPageCursorPrev"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EntityAttributes"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "ent_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "post": {
        "operationId": "createEntityAttributes",
        "summary": "Create entity attributes request",
        "description": "Create entity attributes request. See https://docs.methodfi.com for more details.",
        "tags": [
          "Entities - Attributes"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "idem-request-id": {
                "$ref": "#/components/headers/IdemRequestId"
              },
              "idem-status": {
                "$ref": "#/components/headers/IdemStatus"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntityAttributes"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "ent_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Optional idempotency key to prevent duplicate requests. See https://docs.methodfi.com for more details."
          },
          {
            "name": "Prefer",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "respond-async",
                "respond-sync"
              ]
            },
            "description": "Control response behavior. Use \"respond-async\" for long-running operations to get immediate response with status=pending."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EntityAttributesCreateRequest"
              }
            }
          }
        }
      }
    },
    "/entities/{ent_id}/attributes/{atr_id}": {
      "get": {
        "operationId": "retrieveEntityAttributes",
        "summary": "Retrieve entity attributes",
        "description": "Retrieve entity attributes. See https://docs.methodfi.com for more details.",
        "tags": [
          "Entities - Attributes"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "idem-request-id": {
                "$ref": "#/components/headers/IdemRequestId"
              },
              "idem-status": {
                "$ref": "#/components/headers/IdemStatus"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntityAttributes"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "ent_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "atr_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/entities/{ent_id}/vehicles": {
      "get": {
        "operationId": "listEntityVehicles",
        "summary": "List entity vehicles",
        "description": "List entity vehicles. See https://docs.methodfi.com for more details.",
        "tags": [
          "Entities - Vehicles"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "idem-request-id": {
                "$ref": "#/components/headers/IdemRequestId"
              },
              "idem-status": {
                "$ref": "#/components/headers/IdemStatus"
              },
              "pagination-page": {
                "$ref": "#/components/headers/PaginationPage"
              },
              "pagination-page-count": {
                "$ref": "#/components/headers/PaginationPageCount"
              },
              "pagination-page-limit": {
                "$ref": "#/components/headers/PaginationPageLimit"
              },
              "pagination-total-count": {
                "$ref": "#/components/headers/PaginationTotalCount"
              },
              "pagination-page-cursor-next": {
                "$ref": "#/components/headers/PaginationPageCursorNext"
              },
              "pagination-page-cursor-prev": {
                "$ref": "#/components/headers/PaginationPageCursorPrev"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EntityVehicles"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "ent_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "post": {
        "operationId": "createEntityVehicles",
        "summary": "Create entity vehicles request",
        "description": "Create entity vehicles request. See https://docs.methodfi.com for more details.",
        "tags": [
          "Entities - Vehicles"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "idem-request-id": {
                "$ref": "#/components/headers/IdemRequestId"
              },
              "idem-status": {
                "$ref": "#/components/headers/IdemStatus"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntityVehicles"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "ent_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Optional idempotency key to prevent duplicate requests. See https://docs.methodfi.com for more details."
          },
          {
            "name": "Prefer",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "respond-async",
                "respond-sync"
              ]
            },
            "description": "Control response behavior. Use \"respond-async\" for long-running operations to get immediate response with status=pending."
          }
        ]
      }
    },
    "/entities/{ent_id}/vehicles/{vhl_id}": {
      "get": {
        "operationId": "retrieveEntityVehicles",
        "summary": "Retrieve entity vehicles",
        "description": "Retrieve entity vehicles. See https://docs.methodfi.com for more details.",
        "tags": [
          "Entities - Vehicles"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "idem-request-id": {
                "$ref": "#/components/headers/IdemRequestId"
              },
              "idem-status": {
                "$ref": "#/components/headers/IdemStatus"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntityVehicles"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "ent_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "vhl_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/entities/{ent_id}/products": {
      "get": {
        "operationId": "listEntityProducts",
        "summary": "List entity products",
        "description": "List entity products. See https://docs.methodfi.com for more details.",
        "tags": [
          "Entities - Products"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "idem-request-id": {
                "$ref": "#/components/headers/IdemRequestId"
              },
              "idem-status": {
                "$ref": "#/components/headers/IdemStatus"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntityProductListResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "ent_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/entities/{ent_id}/subscriptions": {
      "get": {
        "operationId": "listEntitySubscriptions",
        "summary": "List entity subscriptions",
        "description": "List entity subscriptions. See https://docs.methodfi.com for more details.",
        "tags": [
          "Entities - Subscriptions"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "idem-request-id": {
                "$ref": "#/components/headers/IdemRequestId"
              },
              "idem-status": {
                "$ref": "#/components/headers/IdemStatus"
              },
              "pagination-page": {
                "$ref": "#/components/headers/PaginationPage"
              },
              "pagination-page-count": {
                "$ref": "#/components/headers/PaginationPageCount"
              },
              "pagination-page-limit": {
                "$ref": "#/components/headers/PaginationPageLimit"
              },
              "pagination-total-count": {
                "$ref": "#/components/headers/PaginationTotalCount"
              },
              "pagination-page-cursor-next": {
                "$ref": "#/components/headers/PaginationPageCursorNext"
              },
              "pagination-page-cursor-prev": {
                "$ref": "#/components/headers/PaginationPageCursorPrev"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EntitySubscription"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "ent_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "post": {
        "operationId": "createEntitySubscription",
        "summary": "Create entity subscription",
        "description": "Create entity subscription. See https://docs.methodfi.com for more details.",
        "tags": [
          "Entities - Subscriptions"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "idem-request-id": {
                "$ref": "#/components/headers/IdemRequestId"
              },
              "idem-status": {
                "$ref": "#/components/headers/IdemStatus"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntitySubscription"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "ent_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Optional idempotency key to prevent duplicate requests. See https://docs.methodfi.com for more details."
          },
          {
            "name": "Prefer",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "respond-async",
                "respond-sync"
              ]
            },
            "description": "Control response behavior. Use \"respond-async\" for long-running operations to get immediate response with status=pending."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EntitySubscriptionCreateRequest"
              }
            }
          }
        }
      }
    },
    "/entities/{ent_id}/subscriptions/{sub_id}": {
      "get": {
        "operationId": "retrieveEntitySubscription",
        "summary": "Retrieve entity subscription",
        "description": "Retrieve entity subscription. See https://docs.methodfi.com for more details.",
        "tags": [
          "Entities - Subscriptions"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "idem-request-id": {
                "$ref": "#/components/headers/IdemRequestId"
              },
              "idem-status": {
                "$ref": "#/components/headers/IdemStatus"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntitySubscription"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "ent_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sub_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "delete": {
        "operationId": "deleteEntitySubscription",
        "summary": "Delete entity subscription",
        "description": "Delete entity subscription. See https://docs.methodfi.com for more details.",
        "tags": [
          "Entities - Subscriptions"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "idem-request-id": {
                "$ref": "#/components/headers/IdemRequestId"
              },
              "idem-status": {
                "$ref": "#/components/headers/IdemStatus"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntitySubscription"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "ent_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sub_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/entities/{ent_id}/verification_sessions": {
      "get": {
        "operationId": "listEntityVerificationSessions",
        "summary": "List entity verification sessions",
        "description": "List entity verification sessions. See https://docs.methodfi.com for more details.",
        "tags": [
          "Entities - Verification Sessions"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "idem-request-id": {
                "$ref": "#/components/headers/IdemRequestId"
              },
              "idem-status": {
                "$ref": "#/components/headers/IdemStatus"
              },
              "pagination-page": {
                "$ref": "#/components/headers/PaginationPage"
              },
              "pagination-page-count": {
                "$ref": "#/components/headers/PaginationPageCount"
              },
              "pagination-page-limit": {
                "$ref": "#/components/headers/PaginationPageLimit"
              },
              "pagination-total-count": {
                "$ref": "#/components/headers/PaginationTotalCount"
              },
              "pagination-page-cursor-next": {
                "$ref": "#/components/headers/PaginationPageCursorNext"
              },
              "pagination-page-cursor-prev": {
                "$ref": "#/components/headers/PaginationPageCursorPrev"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EntityVerificationSession"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "ent_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "post": {
        "operationId": "createEntityVerificationSession",
        "summary": "Create entity verification session",
        "description": "Create entity verification session. See https://docs.methodfi.com for more details.",
        "tags": [
          "Entities - Verification Sessions"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "idem-request-id": {
                "$ref": "#/components/headers/IdemRequestId"
              },
              "idem-status": {
                "$ref": "#/components/headers/IdemStatus"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntityVerificationSession"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "ent_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Optional idempotency key to prevent duplicate requests. See https://docs.methodfi.com for more details."
          },
          {
            "name": "Prefer",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "respond-async",
                "respond-sync"
              ]
            },
            "description": "Control response behavior. Use \"respond-async\" for long-running operations to get immediate response with status=pending."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EntityVerificationSessionCreateRequest"
              }
            }
          }
        }
      }
    },
    "/entities/{ent_id}/verification_sessions/{evf_id}": {
      "get": {
        "operationId": "retrieveEntityVerificationSession",
        "summary": "Retrieve entity verification session",
        "description": "Retrieve entity verification session. See https://docs.methodfi.com for more details.",
        "tags": [
          "Entities - Verification Sessions"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "idem-request-id": {
                "$ref": "#/components/headers/IdemRequestId"
              },
              "idem-status": {
                "$ref": "#/components/headers/IdemStatus"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntityVerificationSession"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "ent_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "evf_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "put": {
        "operationId": "updateEntityVerificationSession",
        "summary": "Update entity verification session",
        "description": "Update entity verification session. See https://docs.methodfi.com for more details.",
        "tags": [
          "Entities - Verification Sessions"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "idem-request-id": {
                "$ref": "#/components/headers/IdemRequestId"
              },
              "idem-status": {
                "$ref": "#/components/headers/IdemStatus"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntityVerificationSession"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "ent_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "evf_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Optional idempotency key to prevent duplicate requests. See https://docs.methodfi.com for more details."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EntityVerificationSessionUpdateRequest"
              }
            }
          }
        }
      }
    },
    "/accounts": {
      "get": {
        "operationId": "listAccounts",
        "summary": "List all accounts",
        "description": "List all accounts. See https://docs.methodfi.com for more details.",
        "tags": [
          "Accounts"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "idem-request-id": {
                "$ref": "#/components/headers/IdemRequestId"
              },
              "idem-status": {
                "$ref": "#/components/headers/IdemStatus"
              },
              "pagination-page": {
                "$ref": "#/components/headers/PaginationPage"
              },
              "pagination-page-count": {
                "$ref": "#/components/headers/PaginationPageCount"
              },
              "pagination-page-limit": {
                "$ref": "#/components/headers/PaginationPageLimit"
              },
              "pagination-total-count": {
                "$ref": "#/components/headers/PaginationTotalCount"
              },
              "pagination-page-cursor-next": {
                "$ref": "#/components/headers/PaginationPageCursorNext"
              },
              "pagination-page-cursor-prev": {
                "$ref": "#/components/headers/PaginationPageCursorPrev"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Account"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "from_date",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "to_date",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "holder_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "payment",
                  "balance",
                  "sensitive",
                  "card_brand",
                  "payoff",
                  "update",
                  "attribute",
                  "transactions",
                  "payment_instrument",
                  "latest_verification_session"
                ]
              }
            },
            "description": "Fields to expand in the response. Can specify multiple values.",
            "style": "form",
            "explode": true
          },
          {
            "name": "liability.mch_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "liability.type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "liability.ownership",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "post": {
        "operationId": "createAccount",
        "summary": "Create a new account",
        "description": "Create a new account. See https://docs.methodfi.com for more details.",
        "tags": [
          "Accounts"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "idem-request-id": {
                "$ref": "#/components/headers/IdemRequestId"
              },
              "idem-status": {
                "$ref": "#/components/headers/IdemStatus"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Optional idempotency key to prevent duplicate requests. See https://docs.methodfi.com for more details."
          },
          {
            "name": "Prefer",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "respond-async",
                "respond-sync"
              ]
            },
            "description": "Control response behavior. Use \"respond-async\" for long-running operations to get immediate response with status=pending."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountCreateRequest"
              }
            }
          }
        }
      }
    },
    "/accounts/{acc_id}": {
      "get": {
        "operationId": "retrieveAccount",
        "summary": "Retrieve an account",
        "description": "Retrieve an account. See https://docs.methodfi.com for more details.",
        "tags": [
          "Accounts"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "idem-request-id": {
                "$ref": "#/components/headers/IdemRequestId"
              },
              "idem-status": {
                "$ref": "#/components/headers/IdemStatus"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "acc_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "payment",
                  "balance",
                  "sensitive",
                  "card_brand",
                  "payoff",
                  "update",
                  "attribute",
                  "transactions",
                  "payment_instrument",
                  "latest_verification_session"
                ]
              }
            },
            "description": "Fields to expand in the response. Can specify multiple values.",
            "style": "form",
            "explode": true
          }
        ]
      }
    },
    "/accounts/{acc_id}/consent": {
      "post": {
        "operationId": "withdrawAccountConsent",
        "summary": "Withdraw account consent",
        "description": "Withdraw account consent. See https://docs.methodfi.com for more details.",
        "tags": [
          "Accounts"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "idem-request-id": {
                "$ref": "#/components/headers/IdemRequestId"
              },
              "idem-status": {
                "$ref": "#/components/headers/IdemStatus"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "acc_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Optional idempotency key to prevent duplicate requests. See https://docs.methodfi.com for more details."
          },
          {
            "name": "Prefer",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "respond-async",
                "respond-sync"
              ]
            },
            "description": "Control response behavior. Use \"respond-async\" for long-running operations to get immediate response with status=pending."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountWithdrawConsentRequest"
              }
            }
          }
        }
      }
    },
    "/accounts/{acc_id}/balances": {
      "get": {
        "operationId": "listAccountBalances",
        "summary": "List account balances",
        "description": "List account balances. See https://docs.methodfi.com for more details.",
        "tags": [
          "Accounts - Balances"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "idem-request-id": {
                "$ref": "#/components/headers/IdemRequestId"
              },
              "idem-status": {
                "$ref": "#/components/headers/IdemStatus"
              },
              "pagination-page": {
                "$ref": "#/components/headers/PaginationPage"
              },
              "pagination-page-count": {
                "$ref": "#/components/headers/PaginationPageCount"
              },
              "pagination-page-limit": {
                "$ref": "#/components/headers/PaginationPageLimit"
              },
              "pagination-total-count": {
                "$ref": "#/components/headers/PaginationTotalCount"
              },
              "pagination-page-cursor-next": {
                "$ref": "#/components/headers/PaginationPageCursorNext"
              },
              "pagination-page-cursor-prev": {
                "$ref": "#/components/headers/PaginationPageCursorPrev"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AccountBalance"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "acc_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "post": {
        "operationId": "createAccountBalance",
        "summary": "Create account balance",
        "description": "Create account balance. See https://docs.methodfi.com for more details.",
        "tags": [
          "Accounts - Balances"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "idem-request-id": {
                "$ref": "#/components/headers/IdemRequestId"
              },
              "idem-status": {
                "$ref": "#/components/headers/IdemStatus"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountBalance"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "acc_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Optional idempotency key to prevent duplicate requests. See https://docs.methodfi.com for more details."
          },
          {
            "name": "Prefer",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "respond-async",
                "respond-sync"
              ]
            },
            "description": "Control response behavior. Use \"respond-async\" for long-running operations to get immediate response with status=pending."
          }
        ]
      }
    },
    "/accounts/{acc_id}/balances/{balance_id}": {
      "get": {
        "operationId": "retrieveAccountBalance",
        "summary": "Retrieve account balance",
        "description": "Retrieve account balance. See https://docs.methodfi.com for more details.",
        "tags": [
          "Accounts - Balances"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "idem-request-id": {
                "$ref": "#/components/headers/IdemRequestId"
              },
              "idem-status": {
                "$ref": "#/components/headers/IdemStatus"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountBalance"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "acc_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "balance_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/accounts/{acc_id}/card_brands": {
      "get": {
        "operationId": "listAccountCardBrands",
        "summary": "List account card_brands",
        "description": "List account card_brands. See https://docs.methodfi.com for more details.",
        "tags": [
          "Accounts - CardBrands"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "idem-request-id": {
                "$ref": "#/components/headers/IdemRequestId"
              },
              "idem-status": {
                "$ref": "#/components/headers/IdemStatus"
              },
              "pagination-page": {
                "$ref": "#/components/headers/PaginationPage"
              },
              "pagination-page-count": {
                "$ref": "#/components/headers/PaginationPageCount"
              },
              "pagination-page-limit": {
                "$ref": "#/components/headers/PaginationPageLimit"
              },
              "pagination-total-count": {
                "$ref": "#/components/headers/PaginationTotalCount"
              },
              "pagination-page-cursor-next": {
                "$ref": "#/components/headers/PaginationPageCursorNext"
              },
              "pagination-page-cursor-prev": {
                "$ref": "#/components/headers/PaginationPageCursorPrev"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AccountCardBrand"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "acc_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "post": {
        "operationId": "createAccountCardBrand",
        "summary": "Create account card_brand",
        "description": "Create account card_brand. See https://docs.methodfi.com for more details.",
        "tags": [
          "Accounts - CardBrands"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "idem-request-id": {
                "$ref": "#/components/headers/IdemRequestId"
              },
              "idem-status": {
                "$ref": "#/components/headers/IdemStatus"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountCardBrand"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "acc_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Optional idempotency key to prevent duplicate requests. See https://docs.methodfi.com for more details."
          },
          {
            "name": "Prefer",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "respond-async",
                "respond-sync"
              ]
            },
            "description": "Control response behavior. Use \"respond-async\" for long-running operations to get immediate response with status=pending."
          }
        ]
      }
    },
    "/accounts/{acc_id}/card_brands/{card_brand_id}": {
      "get": {
        "operationId": "retrieveAccountCardBrand",
        "summary": "Retrieve account card_brand",
        "description": "Retrieve account card_brand. See https://docs.methodfi.com for more details.",
        "tags": [
          "Accounts - CardBrands"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "idem-request-id": {
                "$ref": "#/components/headers/IdemRequestId"
              },
              "idem-status": {
                "$ref": "#/components/headers/IdemStatus"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountCardBrand"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "acc_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "card_brand_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/accounts/{acc_id}/payoffs": {
      "get": {
        "operationId": "listAccountPayoffs",
        "summary": "List account payoffs",
        "description": "List account payoffs. See https://docs.methodfi.com for more details.",
        "tags": [
          "Accounts - Payoffs"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "idem-request-id": {
                "$ref": "#/components/headers/IdemRequestId"
              },
              "idem-status": {
                "$ref": "#/components/headers/IdemStatus"
              },
              "pagination-page": {
                "$ref": "#/components/headers/PaginationPage"
              },
              "pagination-page-count": {
                "$ref": "#/components/headers/PaginationPageCount"
              },
              "pagination-page-limit": {
                "$ref": "#/components/headers/PaginationPageLimit"
              },
              "pagination-total-count": {
                "$ref": "#/components/headers/PaginationTotalCount"
              },
              "pagination-page-cursor-next": {
                "$ref": "#/components/headers/PaginationPageCursorNext"
              },
              "pagination-page-cursor-prev": {
                "$ref": "#/components/headers/PaginationPageCursorPrev"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AccountPayoff"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "acc_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "post": {
        "operationId": "createAccountPayoff",
        "summary": "Create account payoff",
        "description": "Create account payoff. See https://docs.methodfi.com for more details.",
        "tags": [
          "Accounts - Payoffs"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "idem-request-id": {
                "$ref": "#/components/headers/IdemRequestId"
              },
              "idem-status": {
                "$ref": "#/components/headers/IdemStatus"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountPayoff"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "acc_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Optional idempotency key to prevent duplicate requests. See https://docs.methodfi.com for more details."
          },
          {
            "name": "Prefer",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "respond-async",
                "respond-sync"
              ]
            },
            "description": "Control response behavior. Use \"respond-async\" for long-running operations to get immediate response with status=pending."
          }
        ]
      }
    },
    "/accounts/{acc_id}/payoffs/{payoff_id}": {
      "get": {
        "operationId": "retrieveAccountPayoff",
        "summary": "Retrieve account payoff",
        "description": "Retrieve account payoff. See https://docs.methodfi.com for more details.",
        "tags": [
          "Accounts - Payoffs"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "idem-request-id": {
                "$ref": "#/components/headers/IdemRequestId"
              },
              "idem-status": {
                "$ref": "#/components/headers/IdemStatus"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountPayoff"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "acc_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "payoff_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/accounts/{acc_id}/sensitive": {
      "get": {
        "operationId": "listAccountSensitives",
        "summary": "List account sensitive",
        "description": "List account sensitive. See https://docs.methodfi.com for more details.",
        "tags": [
          "Accounts - Sensitives"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "idem-request-id": {
                "$ref": "#/components/headers/IdemRequestId"
              },
              "idem-status": {
                "$ref": "#/components/headers/IdemStatus"
              },
              "pagination-page": {
                "$ref": "#/components/headers/PaginationPage"
              },
              "pagination-page-count": {
                "$ref": "#/components/headers/PaginationPageCount"
              },
              "pagination-page-limit": {
                "$ref": "#/components/headers/PaginationPageLimit"
              },
              "pagination-total-count": {
                "$ref": "#/components/headers/PaginationTotalCount"
              },
              "pagination-page-cursor-next": {
                "$ref": "#/components/headers/PaginationPageCursorNext"
              },
              "pagination-page-cursor-prev": {
                "$ref": "#/components/headers/PaginationPageCursorPrev"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AccountSensitive"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "acc_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "post": {
        "operationId": "createAccountSensitive",
        "summary": "Create account sensitiv",
        "description": "Create account sensitiv. See https://docs.methodfi.com for more details.",
        "tags": [
          "Accounts - Sensitives"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "idem-request-id": {
                "$ref": "#/components/headers/IdemRequestId"
              },
              "idem-status": {
                "$ref": "#/components/headers/IdemStatus"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountSensitive"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "acc_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Optional idempotency key to prevent duplicate requests. See https://docs.methodfi.com for more details."
          },
          {
            "name": "Prefer",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "respond-async",
                "respond-sync"
              ]
            },
            "description": "Control response behavior. Use \"respond-async\" for long-running operations to get immediate response with status=pending."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountSensitiveCreateRequest"
              }
            }
          }
        }
      }
    },
    "/accounts/{acc_id}/sensitive/{sensitiv_id}": {
      "get": {
        "operationId": "retrieveAccountSensitive",
        "summary": "Retrieve account sensitiv",
        "description": "Retrieve account sensitiv. See https://docs.methodfi.com for more details.",
        "tags": [
          "Accounts - Sensitives"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "idem-request-id": {
                "$ref": "#/components/headers/IdemRequestId"
              },
              "idem-status": {
                "$ref": "#/components/headers/IdemStatus"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountSensitive"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "acc_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sensitiv_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/accounts/{acc_id}/transactions": {
      "get": {
        "operationId": "listAccountTransactions",
        "summary": "List account transactions",
        "description": "List account transactions. See https://docs.methodfi.com for more details.",
        "tags": [
          "Accounts - Transactions"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "idem-request-id": {
                "$ref": "#/components/headers/IdemRequestId"
              },
              "idem-status": {
                "$ref": "#/components/headers/IdemStatus"
              },
              "pagination-page": {
                "$ref": "#/components/headers/PaginationPage"
              },
              "pagination-page-count": {
                "$ref": "#/components/headers/PaginationPageCount"
              },
              "pagination-page-limit": {
                "$ref": "#/components/headers/PaginationPageLimit"
              },
              "pagination-total-count": {
                "$ref": "#/components/headers/PaginationTotalCount"
              },
              "pagination-page-cursor-next": {
                "$ref": "#/components/headers/PaginationPageCursorNext"
              },
              "pagination-page-cursor-prev": {
                "$ref": "#/components/headers/PaginationPageCursorPrev"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AccountTransaction"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "acc_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/accounts/{acc_id}/transactions/{transaction_id}": {
      "get": {
        "operationId": "retrieveAccountTransaction",
        "summary": "Retrieve account transaction",
        "description": "Retrieve account transaction. See https://docs.methodfi.com for more details.",
        "tags": [
          "Accounts - Transactions"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "idem-request-id": {
                "$ref": "#/components/headers/IdemRequestId"
              },
              "idem-status": {
                "$ref": "#/components/headers/IdemStatus"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountTransaction"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "acc_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "transaction_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/accounts/{acc_id}/updates": {
      "get": {
        "operationId": "listAccountUpdates",
        "summary": "List account updates",
        "description": "List account updates. See https://docs.methodfi.com for more details.",
        "tags": [
          "Accounts - Updates"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "idem-request-id": {
                "$ref": "#/components/headers/IdemRequestId"
              },
              "idem-status": {
                "$ref": "#/components/headers/IdemStatus"
              },
              "pagination-page": {
                "$ref": "#/components/headers/PaginationPage"
              },
              "pagination-page-count": {
                "$ref": "#/components/headers/PaginationPageCount"
              },
              "pagination-page-limit": {
                "$ref": "#/components/headers/PaginationPageLimit"
              },
              "pagination-total-count": {
                "$ref": "#/components/headers/PaginationTotalCount"
              },
              "pagination-page-cursor-next": {
                "$ref": "#/components/headers/PaginationPageCursorNext"
              },
              "pagination-page-cursor-prev": {
                "$ref": "#/components/headers/PaginationPageCursorPrev"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AccountUpdate"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "acc_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "post": {
        "operationId": "createAccountUpdate",
        "summary": "Create account update",
        "description": "Create account update. See https://docs.methodfi.com for more details.",
        "tags": [
          "Accounts - Updates"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "idem-request-id": {
                "$ref": "#/components/headers/IdemRequestId"
              },
              "idem-status": {
                "$ref": "#/components/headers/IdemStatus"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountUpdate"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "acc_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Optional idempotency key to prevent duplicate requests. See https://docs.methodfi.com for more details."
          },
          {
            "name": "Prefer",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "respond-async",
                "respond-sync"
              ]
            },
            "description": "Control response behavior. Use \"respond-async\" for long-running operations to get immediate response with status=pending."
          }
        ]
      }
    },
    "/accounts/{acc_id}/updates/{update_id}": {
      "get": {
        "operationId": "retrieveAccountUpdate",
        "summary": "Retrieve account update",
        "description": "Retrieve account update. See https://docs.methodfi.com for more details.",
        "tags": [
          "Accounts - Updates"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "idem-request-id": {
                "$ref": "#/components/headers/IdemRequestId"
              },
              "idem-status": {
                "$ref": "#/components/headers/IdemStatus"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountUpdate"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "acc_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "update_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/accounts/{acc_id}/attributes": {
      "get": {
        "operationId": "listAccountAttributess",
        "summary": "List account attributes",
        "description": "List account attributes. See https://docs.methodfi.com for more details.",
        "tags": [
          "Accounts - Attributess"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "idem-request-id": {
                "$ref": "#/components/headers/IdemRequestId"
              },
              "idem-status": {
                "$ref": "#/components/headers/IdemStatus"
              },
              "pagination-page": {
                "$ref": "#/components/headers/PaginationPage"
              },
              "pagination-page-count": {
                "$ref": "#/components/headers/PaginationPageCount"
              },
              "pagination-page-limit": {
                "$ref": "#/components/headers/PaginationPageLimit"
              },
              "pagination-total-count": {
                "$ref": "#/components/headers/PaginationTotalCount"
              },
              "pagination-page-cursor-next": {
                "$ref": "#/components/headers/PaginationPageCursorNext"
              },
              "pagination-page-cursor-prev": {
                "$ref": "#/components/headers/PaginationPageCursorPrev"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AccountAttributes"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "acc_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "post": {
        "operationId": "createAccountAttributes",
        "summary": "Create account attribute",
        "description": "Create account attribute. See https://docs.methodfi.com for more details.",
        "tags": [
          "Accounts - Attributess"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "idem-request-id": {
                "$ref": "#/components/headers/IdemRequestId"
              },
              "idem-status": {
                "$ref": "#/components/headers/IdemStatus"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountAttributes"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "acc_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Optional idempotency key to prevent duplicate requests. See https://docs.methodfi.com for more details."
          },
          {
            "name": "Prefer",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "respond-async",
                "respond-sync"
              ]
            },
            "description": "Control response behavior. Use \"respond-async\" for long-running operations to get immediate response with status=pending."
          }
        ]
      }
    },
    "/accounts/{acc_id}/attributes/{attribute_id}": {
      "get": {
        "operationId": "retrieveAccountAttributes",
        "summary": "Retrieve account attribute",
        "description": "Retrieve account attribute. See https://docs.methodfi.com for more details.",
        "tags": [
          "Accounts - Attributess"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "idem-request-id": {
                "$ref": "#/components/headers/IdemRequestId"
              },
              "idem-status": {
                "$ref": "#/components/headers/IdemStatus"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountAttributes"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "acc_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
[...]
